mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
}

h3 {
  color: white;
  font-weight: lighter;
  margin: 0;
}

nav button {
  font-size: 12pt;
  margin: 0 8px;
}
